[runs]
## options related to the run to be analyzed and reference runs to be
## compared against

# mainRunName is a name that identifies the simulation being analyzed.
mainRunName = CGM

# config file for a control run to which this run will be compared.  The
# analysis should have already been run to completion once with this config
# file, so that the relevant MPAS climatologies already exist and have been
# remapped to the comparison grid.  Leave this option commented out if no
# control run is desired.
controlRunConfigFile = /global/cscratch1/sd/xylar/analysis/cryosphere_v1_figures_revisions/20200610.A_WCYCL1850-DIB-ISMF_CMIP6.ne30_ECwISC30to60E1r2.cori-knl.maint1p2-3DGM/yrs71-100/logs/config.VGM

# config file for a main run on which the analysis was already run to
# completion.  The relevant MPAS climatologies already exist and have been
# remapped to the comparison grid and time series have been extracted.
# Leave this option commented out if the analysis for the main run should be
# performed.
mainRunConfigFile = /global/cscratch1/sd/xylar/analysis/cryosphere_v1_figures_revisions/CGM_vs_VGM/yrs71-100/logs/config.CGM

[input]
## options related to reading in the results to be analyzed

# directory containing model results
baseDirectory = /global/cfs/cdirs/m3412/simulations/20190306.A_WCYCL1850-DIB-ISMF_CMIP6.ne30_oECv3wLI.edison

# subdirectory containing restart files
runSubdirectory = run
oceanHistorySubdirectory = ocn/hist
seaIceHistorySubdirectory = ice/hist

# names of ocean and sea ice meshes (e.g. oEC60to30v3, oQU240v3, oRRS30to10v3, etc.)
mpasMeshName = oEC60to30v3wLI

# names of namelist and streams files, either a path relative to baseDirectory
# or an absolute path.
oceanNamelistFileName = run/mpaso_in
oceanStreamsFileName = run/streams.ocean
seaIceNamelistFileName = run/mpassi_in
seaIceStreamsFileName = run/streams.seaice

[output]
## options related to writing out plots, intermediate cached data sets, logs,
## etc.

# directory where analysis should be written
baseDirectory = /global/cscratch1/sd/xylar/analysis/cryosphere_v1_figures_revisions/CGM_vs_VGM/yrs71-100


# provide an absolute path to put HTML in an alternative location (e.g. a web
# portal)
htmlSubdirectory = /global/cfs/cdirs/m3412/www/xylar/cryosphere_v1_figures_revisions/CGM_vs_VGM/yrs71-100

generate = ['climatologyMapAntarcticMelt', 'regionalTSDiagrams',
            'climatologyMapWoa', 'climatologyMapSchmidtko',
            'soseTransects']

[climatology]
## options related to producing climatologies, typically to compare against
## observations and previous runs

# the first year over which to average climatalogies
startYear = 71
# the last year over which to average climatalogies
endYear = 100

[timeSeries]
## options related to producing time series plots, often to compare against
## observations and previous runs

# line colors for the main, control and obs curves
mainColor = #0071bd
controlColor = #d95319

