[runs]
## options related to the run to be analyzed and reference runs to be
## compared against

# mainRunName is a name that identifies the simulation being analyzed.
mainRunName = G-DIB-ISMF.DIBbugfix

[execute]
## options related to executing parallel tasks

# the number of parallel tasks (1 means tasks run in serial, the default)
parallelTaskCount = 18

# the parallelism mode in ncclimo ("serial" or "bck")
# Set this to "bck" (background parallelism) if running on a machine that can
# handle 12 simultaneous processes, one for each monthly climatology.
ncclimoParallelMode = bck

ncclimoThreads = 12

[diagnostics]
## config options related to observations, mapping files and region files used
## by MPAS-Analysis in diagnostics computations.

# The base path to the diagnostics directory.  Typically, this will be a shared
# directory on each E3SM supported machine (see the example config files for
# its location).  For other machines, this would be the directory pointed to
# when running "download_analysis_data.py" to get the public observations,
# mapping files and region files.
base_path = /lcrc/group/acme/diagnostics

# A second directory where custom diagonstics data such as mapping files and
# regions masks for unsupported grids can be found.  The structure of
# subdirectories in this directory must be the same as baseDirectory
customDirectory = /home/ac.xylar/mpas-work/analysis/hoffman_et_al_avg_melt_rates/custom_diagnostics


[input]
## options related to reading in the results to be analyzed

# directory containing model results
baseDirectory = /lcrc/group/acme/ac.mhoffman/acme_scratch/anvil/20210730.GMPAS-DIB-IAF-ISMF.T62_oEC60to30v3wLI.DIBbugfix.anvil

# subdirectory containing restart files
runSubdirectory = run
# subdirectory for ocean history files
oceanHistorySubdirectory = run
#oceanHistorySubdirectory = archive/ocn/hist
# subdirectory for sea ice history files
seaIceHistorySubdirectory = run
#seaIceHistorySubdirectory = archive/ice/hist

# when case.archive_st has been run
# oceanHistorySubdirectory = /global/cscratch1/sd/dcomeau/acme_scratch/cori-knl/archive/20190923.GMPAS-IAF.T62_oEC60to30v3wLI.cori-knl/ocn/hist
# seaIceHistorySubdirectory = /global/cscratch1/sd/dcomeau/acme_scratch/cori-knl/archive/20190923.GMPAS-IAF.T62_oEC60to30v3wLI.cori-knl/ice/hist

# names of ocean and sea ice meshes (e.g. oEC60to30v3, oQU240v3, oRRS30to10v3, etc.)
mpasMeshName = oEC60to30v3wLI

# names of namelist and streams files, either a path relative to baseDirectory
# or an absolute path.
oceanNamelistFileName = run/mpaso_in
oceanStreamsFileName = run/streams.ocean
seaIceNamelistFileName = run/mpassi_in
seaIceStreamsFileName = run/streams.seaice

[output]
## options related to writing out plots, intermediate cached data sets, logs,
## etc.

# directory where analysis should be written
baseDirectory = /lcrc/group/e3sm/ac.xylar/hoffman_et_al/eastern_weddell_melt/cgm

generate = ['climatologyMapAntarcticMelt', 'timeSeriesAntarcticMelt']


[climatology]
## options related to producing climatologies, typically to compare against
## observations and previous runs

# the first year over which to average climatalogies
startYear = 79
# the last year over which to average climatalogies
endYear = 140


[timeSeries]
## options related to producing time series plots, often to compare against
## observations and previous runs

# start and end years for timeseries analysis. Using out-of-bounds values
#   like start_year = 1 and end_year = 9999 will be clipped to the valid range
#   of years, and is a good way of insuring that all values are used.
startYear = 79
endYear = 140

[climatologyMapAntarcticMelt]
## options related to plotting horizontally regridded maps of Antarctic
## sub-ice-shelf melt rates against control model results and observations

# make a tables of mean melt rates and melt fluxes for individual ice shelves?
makeTables = True

# If making tables, which ice shelves?  This is a list of ice shelves or
# ['all'] for all 106 ice shelves and regions.
iceShelvesInTable = ['all']


[timeSeriesAntarcticMelt]
## options related to plotting time series of melt below Antarctic ice shelves

# list of ice shelves to plot or ['all'] for all 106 ice shelves and regions.
# See "regionNames" in the ice shelf masks file in regionMaskSubdirectory for
# details.
iceShelvesToPlot = ['all']
