[output]
## options related to writing out plots, intermediate cached data sets, logs,
## etc.

# a list of analyses to generate.  Valid names can be seen by running:
#   mpas_analysis --list
# This command also lists tags for each analysis.
# Shortcuts exist to generate (or not generate) several types of analysis.
# These include:
#   'all' -- all analyses will be run
#   'all_publicObs' -- all analyses for which observations are available on the
#                      public server (the default)
#   'all_<tag>' -- all analysis with a particular tag will be run
#   'all_<component>' -- all analyses from a given component (either 'ocean'
#                        or 'seaIce') will be run
#   'only_<component>', 'only_<tag>' -- all analysis from this component or
#                                       with this tag will be run, and all
#                                       analysis for other components or
#                                       without the tag will be skipped
#   'no_<task_name>' -- skip the given task
#   'no_<component>', 'no_<tag>' -- in analogy to 'all_*', skip all analysis
#                                   tasks from the given component or with
#                                   the given tag.  Do
#                                      mpas_analysis --list
#                                   to list all task names and their tags
# an equivalent syntax can be used on the command line to override this
# option:
#    mpas_analysis config.analysis --generate \
#         only_ocean,no_timeSeries,timeSeriesSST
#
# Note: if an appropriate reference year isn't available for computing
#       anomalies, include 'no_anomaly' in the generate list
generate = ['geojsonTransects']

[climatology]
## options related to producing climatologies, typically to compare against
## observations and previous runs

# the year from which to compute anomalies if not the start year of the
# simulation.  This might be useful if a long spin-up cycle is performed and
# only the anomaly over a later span of years is of interest.
# anomalyRefYear = 249

# the first year over which to average climatalogies
startYear = 1
# the last year over which to average climatalogies
endYear = 10


[timeSeries]
## options related to producing time series plots, often to compare against
## observations and previous runs

# the year from which to compute anomalies if not the start year of the
# simulation.  This might be useful if a long spin-up cycle is performed and
# only the anomaly over a later span of years is of interest.
# anomalyRefYear = 249

# start and end years for timeseries analysis. Use endYear = end to indicate
# that the full range of the data should be used.  If errorOnMissing = False,
# the start and end year will be clipped to the valid range.  Otherwise, out
# of bounds values will lead to an error.  In a "control" config file used in
# a "main vs. control" analysis run, the range of years must be valid and
# cannot include "end" because the original data may not be available.
startYear = 1
endYear = 10


[index]
## options related to producing nino index.

# start and end years for El Nino 3.4 analysis. Use endYear = end to indicate
# that the full range of the data should be used.  If errorOnMissing = False,
# the start and end year will be clipped to the valid range.  Otherwise, out
# of bounds values will lead to an error.  In a "control" config file used in
# a "main vs. control" analysis run, the range of years must be valid and
# cannot include "end" because the original data may not be available.
startYear = 1
endYear = 10


[plot]
## options related to plotting that are the defaults across all analysis
## modules

# the default font size for axis ticks, etc.
defaultFontSize = 10

# title and axis font properties for single-panel plots
titleFontSize = 16
titleFontColor = black
titleFontWeight = normal
axisFontSize = 12
maxTitleLength = 45

# font size for cartopy grid labels
cartopyGridFontSize = 12

# title and axis font properties for three-panel plots
threePanelTitleFontSize = 16
threePanelPlotTitleFontSize = 14
threePanelTitleFontColor = black
threePanelTitleFontWeight = normal
threePanelAxisFontSize = 12

# the dots per inch of output figures
dpi = 200

# Write out PDFs in addition to PNGs?
pdf = True


[geojsonTransects]
## options related to plotting model transects at points determined by a
## geojson file.  To generate your own geojson file, go to:
##   http://geojson.io/
## and draw one or more polylines, then add a name to each:
##
##      "properties": {
##        "name": "My Favorite Name"
##      },
## and save the file as GeoJSON (say transects.geojson).  Finally, set the
## option:
##      geojsonFiles = ['transects.geojson']
## (giving an absolute path if necessary) in your custom config file.

# a list of geojson files containing lat/lon points in LineStrings to be
# plotted.  If relative paths are given, they are relative to the current
# working directory.  The files must be listed in quotes, e.g.:
# geojsonFiles = ['file1.geojson', '/path/to/file2.geojson']
geojsonFiles = ['rapid.geojson']

# a list of dictionaries for each field to plot.  The dictionary includes
# prefix (used for file names, task names and sections) as well as the mpas
# name of the field, units for colorbars and a the name as it should appear
# in figure titles and captions.
fields =
    [{'prefix': 'temperature',
      'mpas': 'timeMonthly_avg_activeTracers_temperature',
      'units': r'$$\degree$$C',
      'titleName': 'Potential Temperature'},
     {'prefix': 'salinity',
      'mpas': 'timeMonthly_avg_activeTracers_salinity',
      'units': r'PSU',
      'titleName': 'Salinity'},
     {'prefix': 'sigma0',
      'mpas': 'sigma0',
      'units': r'kg m$$^{-3}$$',
      'titleName': 'Potential Density Anomaly'},
     {'prefix': 'sigma2',
      'mpas': 'sigma2',
      'units': r'kg m$$^{-3}$$',
      'titleName': 'Potential Density Anomaly (ref 2000 dbar)'},
     {'prefix': 'meridionalVelocity',
      'mpas': 'timeMonthly_avg_velocityMeridional',
      'units': r'm s$$^{-1}$$',
      'titleName': 'Meridional Velocity'}]

# Times for comparison times (Jan, Feb, Mar, Apr, May, Jun, Jul, Aug, Sep, Oct,
# Nov, Dec, JFM, AMJ, JAS, OND, ANN)
seasons =  ['ANN']

# The approximate horizontal resolution (in km) of each transect.  Latitude/
# longitude between observation points will be subsampled at this interval.
# Use 'obs' to indicate no subsampling. Use 'mpas' to indicate plotting of
# model data on the native grid.
horizontalResolution = mpas
#horizontalResolution = obs
#horizontalResolution = 5

# The name of the vertical comparison grid.  Valid values are 'mpas' for the
# MPAS vertical grid or any other name if the vertical grid is defined by
# 'verticalComparisonGrid'
verticalComparisonGridName = mpas
#verticalComparisonGridName = uniform_0_to_4000m_at_10m

# The vertical comparison grid if 'verticalComparisonGridName' is not 'mpas'.
# This should be numpy array of (typically negative) elevations (in m).
# The first and last entries are used as axis bounds for 'mpas' vertical
# comparison grids
verticalComparisonGrid = numpy.linspace(0, -4000, 401)

# A range for the y axis (if any)
verticalBounds = [-6000., 0.]

# The minimum weight of a destination cell after remapping. Any cell with
# weights lower than this threshold will therefore be masked out.
renormalizationThreshold = 0.01


[geojsonTemperatureTransects]
## options related to plotting geojson transects of potential temperature

# colormap for model/observations
colormapNameResult = RdYlBu_r
# whether the colormap is indexed or continuous
colormapTypeResult = continuous
# the type of norm used in the colormap
normTypeResult = linear
# A dictionary with keywords for the norm
normArgsResult = {'vmin': -2., 'vmax': 30.}
# place the ticks automatically by default
# colorbarTicksResult = numpy.linspace(-2., 2., 9)
# contour line levels (use [] for automatic contour selection, 'none' for no
# contour lines)
contourLevelsResult = []

# colormap for differences
colormapNameDifference = balance
# whether the colormap is indexed or continuous
colormapTypeDifference = continuous
# the type of norm used in the colormap
normTypeDifference = linear
# A dictionary with keywords for the norm
normArgsDifference = {'vmin': -2., 'vmax': 2.}
# place the ticks automatically by default
# colorbarTicksDifference = numpy.linspace(-2., 2., 9)
# contour line levels (use [] for automatic contour selection, 'none' for no
# contour lines)
contourLevelsDifference = []


[geojsonSalinityTransects]
## options related to plotting geojson transects of salinity

# colormap for model/observations
colormapNameResult = haline
# whether the colormap is indexed or continuous
colormapTypeResult = continuous
# the type of norm used in the colormap
normTypeResult = linear
# A dictionary with keywords for the norm
normArgsResult = {'vmin': 30, 'vmax': 39.0}
# place the ticks automatically by default
# colorbarTicksResult = numpy.linspace(34.2, 35.2, 9)
# contour line levels (use [] for automatic contour selection, 'none' for no
# contour lines)
contourLevelsResult = []

# colormap for differences
colormapNameDifference = balance
# whether the colormap is indexed or continuous
colormapTypeDifference = continuous
# the type of norm used in the colormap
normTypeDifference = linear
# A dictionary with keywords for the norm
normArgsDifference = {'vmin': -0.5, 'vmax': 0.5}
# place the ticks automatically by default
# colorbarTicksDifference = numpy.linspace(-0.5, 0.5, 9)
# contour line levels (use [] for automatic contour selection, 'none' for no
# contour lines)
contourLevelsDifference = []


[geojsonPotentialDensityTransects]
## options related to plotting geojson transects of potential density

# colormap for model/observations
colormapNameResult = Spectral_r
# whether the colormap is indexed or continuous
colormapTypeResult = continuous
# the type of norm used in the colormap
normTypeResult = linear
# A dictionary with keywords for the norm
normArgsResult = {'vmin': 1026.5, 'vmax': 1028.}
# place the ticks automatically by default
# colorbarTicksResult = numpy.linspace(1026., 1028., 9)
# contour line levels (use [] for automatic contour selection, 'none' for no
# contour lines)
contourLevelsResult = []

# colormap for differences
colormapNameDifference = balance
# whether the colormap is indexed or continuous
colormapTypeDifference = continuous
# the type of norm used in the colormap
normTypeDifference = linear
# A dictionary with keywords for the norm
normArgsDifference = {'vmin': -0.3, 'vmax': 0.3}
# place the ticks automatically by default
# colorbarTicksDifference = numpy.linspace(-0.3, 0.3, 9)
# contour line levels (use [] for automatic contour selection, 'none' for no
# contour lines)
contourLevelsDifference = []


[geojsonSigma0Transects]
## options related to plotting geojson transects of potential density anomalies

# colormap for model/observations
colormapNameResult = Spectral_r
# whether the colormap is indexed or continuous
colormapTypeResult = continuous
# the type of norm used in the colormap
normTypeResult = linear
# A dictionary with keywords for the norm
normArgsResult = {'vmin': 26.0, 'vmax': 28.}
# place the ticks automatically by default
# colorbarTicksResult = numpy.linspace(1026., 1028., 9)
# contour line levels (use [] for automatic contour selection, 'none' for no
# contour lines)
contourLevelsResult = [26.0, 27.0, 27.5, 27.7, 27.8, 27.85, 27.9, 28.0]

# colormap for differences
colormapNameDifference = balance
# whether the colormap is indexed or continuous
colormapTypeDifference = continuous
# the type of norm used in the colormap
normTypeDifference = linear
# A dictionary with keywords for the norm
normArgsDifference = {'vmin': -0.3, 'vmax': 0.3}
# place the ticks automatically by default
# colorbarTicksDifference = numpy.linspace(-0.3, 0.3, 9)
# contour line levels (use [] for automatic contour selection, 'none' for no
# contour lines)
contourLevelsDifference = []

[geojsonSigma2Transects]
## options related to plotting geojson transects of potential density anomalies
## with respect to 2000 dbar

# colormap for model/observations
colormapNameResult = Spectral_r
# whether the colormap is indexed or continuous
colormapTypeResult = continuous
# the type of norm used in the colormap
normTypeResult = linear
# A dictionary with keywords for the norm
normArgsResult = {'vmin': 35.0, 'vmax': 37.6}
# place the ticks automatically by default
# colorbarTicksResult = numpy.linspace(1026., 1028., 9)
# contour line levels (use [] for automatic contour selection, 'none' for no
# contour lines)
contourLevelsResult = [35, 36, 36.5, 36.8, 37, 37.1, 37.2, 37.25, 37.44, 37.52, 37.6]

# colormap for differences
colormapNameDifference = balance
# whether the colormap is indexed or continuous
colormapTypeDifference = continuous
# the type of norm used in the colormap
normTypeDifference = linear
# A dictionary with keywords for the norm
normArgsDifference = {'vmin': -0.3, 'vmax': 0.3}
# place the ticks automatically by default
# colorbarTicksDifference = numpy.linspace(-0.3, 0.3, 9)
# contour line levels (use [] for automatic contour selection, 'none' for no
# contour lines)
contourLevelsDifference = []

[geojsonZonalVelocityTransects]
## options related to plotting geojson transects of zonal velocity

# colormap for model/observations
colormapNameResult = delta
# whether the colormap is indexed or continuous
colormapTypeResult = continuous
# the type of norm used in the colormap
normTypeResult = linear
# A dictionary with keywords for the norm
normArgsResult = {'vmin': -0.2, 'vmax': 0.2}
# determine the ticks automatically by default, uncomment to specify
# colorbarTicksResult = numpy.linspace(-0.2, 0.2, 9)
# contour line levels (use [] for automatic contour selection, 'none' for no
# contour lines)
contourLevelsResult = []

# colormap for differences
colormapNameDifference = balance
# whether the colormap is indexed or continuous
colormapTypeDifference = continuous
# the type of norm used in the colormap
normTypeDifference = linear
# A dictionary with keywords for the norm
normArgsDifference = {'vmin': -0.2, 'vmax': 0.2}
# determine the ticks automatically by default, uncomment to specify
# colorbarTicksDifference = numpy.linspace(-0.2, 0.2, 9)
# contour line levels (use [] for automatic contour selection, 'none' for no
# contour lines)
contourLevelsDifference = []


[geojsonMeridionalVelocityTransects]
## options related to plotting geojson transects of meridional velocity

# colormap for model/observations
colormapNameResult = RdYlBu_r
# whether the colormap is indexed or continuous
colormapTypeResult = continuous
# the type of norm used in the colormap
normTypeResult = linear
# A dictionary with keywords for the norm
normArgsResult = {'vmin': -0.15, 'vmax': 0.15}
# determine the ticks automatically by default, uncomment to specify
# colorbarTicksResult = numpy.linspace(-0.2, 0.2, 9)
# contour line levels (use [] for automatic contour selection, 'none' for no
# contour lines)
contourLevelsResult = 'none'

# colormap for differences
colormapNameDifference = balance
# whether the colormap is indexed or continuous
colormapTypeDifference = continuous
# the type of norm used in the colormap
normTypeDifference = linear
# A dictionary with keywords for the norm
normArgsDifference = {'vmin': -0.2, 'vmax': 0.2}
# determine the ticks automatically by default, uncomment to specify
# colorbarTicksDifference = numpy.linspace(-0.2, 0.2, 9)
# contour line levels (use [] for automatic contour selection, 'none' for no
# contour lines)
contourLevelsDifference = []
